@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regla para estilo pixel art retro */
body {
  image-rendering: pixelated; 
  background-color: #0f380f; /* Fondo oscuro por defecto */
  color: #9bbc0f; /* Texto verde por defecto */
}
